@import '../../theme/styles/variables';
@import '../../theme/styles/mixins';
@import '../../theme/styles/reset';
@import '../../theme/styles/fonts';
@import '../../theme/styles/global';

.s-tag {
  position: relative;
  display: inline-flex;
  padding: $size--8 $size--16;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color--white;
    opacity: 0.92;
  }

  &__content {
    @include z-index(default);

    white-space: nowrap;
  }

  &--filled {
    &::before {
      visibility: hidden;
    }
  }

  & + & {
    margin-left: $size--4;
  }
}
