/* Paths */
$font--path: '../fonts' !default;

/* Fonts */
$font: Grtsk-Peta, sans-serif;

/* Components */
$aside-width: 320px !default;

/* Colors */
$color--primary: #002f6c !default;
$color--primary-accent: #0041a0 !default;
$color--primary-dark: #001e46 !default;

$color--danger: #f00 !default;
$color--danger-light: #ffe8e8 !default;

$color--success: #00a314 !default;
$color--success-light: #e1f4e4 !default;

$color--attention: #f39f00 !default;
$color--attention-light: #fff5e2 !default;

$color--font: #111 !default;
$color--font-secondary: #909090 !default;
$color--font-muted: #bcbcbc !default;

$color--border: #dedede !default;
$color--background: #f4f4f4 !default;

$color--white: #fff !default;

$color--complimentary-bg: #d8e5f8 !default;
$color--complimentary-bg-light: #f1f6fc !default;
$color--outline: #99b3d8 !default;

$color--mosque: #00635b !default;
$color--mosque-light: #e5efef !default;

$color--siren: #6f263d !default;
$color--siren-light: #f0e9eb !default;

$color--diamond: #523178 !default;
$color--diamond-light: #edebf1 !default;

$color--gradient-metallic: linear-gradient(90deg, #edeae8 0%, #4c5354 24.48%, #e8e8e9 58.85%, #989da2 83.33%, #b1b1b1 100%) !default;
$color--gradient-primary: linear-gradient(90deg, #8a959c 0%, #99a4ab 40%, #c4c7bc 64%, #e0c18d 70%, #f0826b 76%, #d60d4c 82%, #78368c 88%, #3a5ba7 94%, #0087cc 100%) !default;
$color--gradient-primary-bg:
  linear-gradient(
    90deg,
    #8b969d 0%,
    #949fa6 20.81%,
    #9ba5ac 33.24%,
    #a5aeb0 39.3%,
    #c0c4bb 49.72%,
    #e0c18d 58.68%,
    #ee8b70 65.72%,
    #da2351 72.82%,
    #7c3489 79.81%,
    #514d9d 86.5%,
    #3f58a5 91.65%,
    #1e70b9 96.34%,
    #0781c7 100%
  ) !default;

$color--shadow: rgba(0, 0, 0, 0.08) !default;

/* Sizes */
$sizes: (
  0: 0,
  4: 4px,
  8: 8px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  28: 28px,
  32: 32px,
  36: 36px,
  40: 40px,
  44: 44px,
  48: 48px,
  60: 60px,
  80: 80px,
);

$size--0: 0px; /* stylelint-disable-line */
$size--4: map-get($sizes, 4);
$size--8: map-get($sizes, 8);
$size--12: map-get($sizes, 12);
$size--16: map-get($sizes, 16);
$size--20: map-get($sizes, 20);
$size--24: map-get($sizes, 24);
$size--28: map-get($sizes, 28);
$size--32: map-get($sizes, 32);
$size--36: map-get($sizes, 36);
$size--40: map-get($sizes, 40);
$size--44: map-get($sizes, 44);
$size--48: map-get($sizes, 48);
$size--52: 52px;
$size--60: map-get($sizes, 60);
$size--64: 64px;
$size--80: map-get($sizes, 80);
$size--84: 84px;
$size--88: 88px;
$size--100: 100px;
$size--120: 120px;
$size--160: 160px;
$size--180: 180px;
$size--200: 200px;

/* Icons */
$icon--16: map-get($sizes, 16);
$icon--24: map-get($sizes, 24);
$icon--32: map-get($sizes, 32);

/* Animation */
$animate--time: 0.2s;

/* z-index map */
$z-index: (
  above: 1000,
  modal: 200,
  loader: 100,
  menu: 40,
  popover: 30,
  dropdown: 20,
  default: 1,
  below: -1,
);

/* Device */
$max-content-width: 1280px;

/* Breakpoints */
$breakpoint-sm: 600px !default;
$breakpoint-md: 1120px !default;
$breakpoint-lg: 1366px !default;
$breakpoint-xl: 2560px !default;

$breakpoints: (
  xs: '(max-width: #{$breakpoint-sm})',
  sm: '(min-width: #{$breakpoint-sm})',
  md: '(min-width: #{$breakpoint-md})',
  lg: '(min-width: #{$breakpoint-lg})',
  xl: '(min-width: #{$breakpoint-xl})'
);

$breakpoints-with-max: (
  xs: '(max-width: #{$breakpoint-sm - 1px})',
  sm: '(min-width: #{$breakpoint-sm}) and (max-width: #{$breakpoint-md - 1px})',
  md: '(min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-lg - 1px})',
  lg: '(min-width: #{$breakpoint-lg}) and (max-width: #{$breakpoint-xl - 1px})',
  xl: '(min-width: #{$breakpoint-xl})'
);

$breakpoints-only-max: (
  xs: '(max-width: #{$breakpoint-sm - 1px})',
  sm: '(max-width: #{$breakpoint-md - 1px})',
  md: '(max-width: #{$breakpoint-lg - 1px})',
  lg: '(max-width: #{$breakpoint-xl - 1px})',
  xl: '(min-width: #{$breakpoint-xl})'
);

$breakpoints-map: $breakpoints-with-max !default;

$breakpoint-xs-padding: $size--12 !default;
$breakpoint-sm-padding: $size--20 !default;
$breakpoint-md-padding: $size--40 !default;
$breakpoint-lg-padding: $size--60 !default;
$breakpoint-xl-padding: $size--80 !default;

/* Containers */
$container-xs: (
  screen: $breakpoint-sm,
  padding: $breakpoint-xs-padding,
);
$container-sm: (
  screen: $breakpoint-sm,
  padding: $breakpoint-sm-padding,
);
$container-md: (
  screen: $breakpoint-md,
  padding: $breakpoint-md-padding,
);
$container-lg: (
  screen: $breakpoint-lg,
  padding: $breakpoint-lg-padding,
);
$container-xl: (
  screen: $breakpoint-xl,
  padding: $breakpoint-xl-padding,
);
