.s-carousel {
  position: relative;

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: $size--40;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--overlayed {
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      transform: translateY(-50%);

      .s-carousel__controls {
        &--prev {
          position: relative;
          left: -$size--8;
          transform: translateX(-100%);
        }

        &--next {
          position: relative;
          right: -$size--8;
          transform: translateX(100%);
        }
      }
    }

    &--prev {
      .svg-icon {
        transform: rotate(90deg) scale(-1, 1);
      }
    }

    &--next {
      .svg-icon {
        transform: rotate(-90deg);
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $size--32;
  }

  &-indicator {
    padding: $size--8 $size--4;
    cursor: pointer;

    &__button {
      width: $size--32;
      height: $size--4 / 2;
      background-color: $color--border;
      transition: background-color $animate--time;
    }

    &--active &,
    &:hover & {
      &__button {
        background-color: $color--primary;
      }
    }
  }
}

.VueCarousel {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;

  &-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &-inner {
    display: flex;
    flex-direction: row;
    backface-visibility: hidden;
  }

  &-slide {
    flex: 0 0;
    flex-basis: inherit;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    user-select: none;
    -webkit-touch-callout: none;
  }
}
