@import '../../theme/styles/variables';
@import '../../theme/styles/mixins';
@import '../../theme/styles/reset';
@import '../../theme/styles/fonts';
@import '../../theme/styles/global';

/* SMenuAside */
.menu-enter {
  transform: translateX(-$aside-width);
}

.menu-enter-active {
  transition: all ease $animate--time;
}

.menu-enter-to {
  transform: translateX(0);
}

.menu-leave {
  transform: translateX(0);
}

.menu-leave-active {
  transition: all ease 2s;
}

.menu-leave-to {
  transform: translateX(-$aside-width);
}

.aside {
  @include z-index(menu);

  position: fixed;
  display: inline-flex;
  flex-direction: column;
  border: 0;
  height: 100%;
  max-height: 100vh;

  &__logo {
    border-right: 1px solid $color--border;
    border-bottom: 1px solid $color--border;
    padding: $size--20 $size--28;
    height: 88px;
    background-color: $color--white;
    transition: all ease $animate--time;

    &-icon {
      max-width: 190px;
    }
  }

  &__column {
    position: relative;
    z-index: 6;
    width: $aside-width;
    height: 100%;
    background-color: $color--white;
    transition: all ease $animate--time;

    &--children {
      position: absolute;
      top: 88px;

      &:nth-child(1) {
        z-index: 5;
      }

      &:nth-child(2) {
        z-index: 4;
      }

      &:nth-child(3) {
        z-index: 3;
      }

      &:nth-child(4) {
        z-index: 2;
      }

      &:nth-child(5) {
        z-index: 1;
      }
    }
  }
}

/* SMenuItem */
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $size--12 $size--28;
  width: 100%;
  min-height: $size--48;
  text-decoration: none;
  color: $color--font;
  background-color: $color--white;
  transition: all ease $animate--time;
  cursor: pointer;

  &__text {
    display: flex;
    align-items: center;
  }

  &__arrow {
    color: $color--primary;
    transform: rotate(-90deg);
    transition: all ease $animate--time;
  }

  &:hover {
    color: $color--primary;
    background: $color--complimentary-bg-light;
  }

  &:hover:not(&--link) &__arrow {
    transform: rotate(-90deg) translateY(25%);
  }

  &--active {
    position: relative;
    font-weight: 800;
    color: $color--primary;
    background: $color--background;
  }

  &--link {
    margin-top: -1px;
    border-top: 1px solid $color--border;
    border-bottom: 1px solid $color--border;
    color: $color--primary;
  }
}

/* SMenuColumn */
.aside-menu-column {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid $color--border;
  border-bottom: 1px solid $color--border;
  height: 100%;
  background-color: $color--white;

  &__header {
    display: flex;
    align-items: center;
    padding-right: $size--32;
    padding-left: $size--32;
    min-height: 68px;
    color: $color--font-muted;
    transition: all ease $animate--time;

    &-icon {
      transform: rotate(180deg);
      transition: all ease $animate--time;
    }

    &--active {
      color: $color--font;
      cursor: pointer;

      &:hover {
        color: $color--danger;
      }

      &:hover &-icon {
        transform: rotate(180deg) translateX(25%);
      }
    }
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
